<!DOCTYPE html>
<html ng-app="devMtIn">

<head>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,700,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/styles3.css">
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DevMtin</title>
</head>

<body ng-controller="homeCtrl">
	<div class="l-header">
		<h1>{{myProfile.name}}</h1>
	</div>

  <div class="wrapper" >
    <div>
      <h2>Profile</h2>
      <button class="l-btn l-btn-main" ng-click="editing=!editing"><span ng-hide="!editing">Editing :</span><span ng-hide="editing">Click to Edit.</span></button>
    </div>

    <div>

      <input ng-model="myProfile.name" ng-disabled="!editing" id="name" type="text" placeholder="Your Name">
      <br />

      <input ng-model="myProfile.likes" ng-disabled="!editing" id="likes" type="text" placeholder="Likes">
      <br />

      <input ng-model="myProfile.favoriteColor" ng-disabled="!editing" id="favColor" type="text" placeholder="Favorite Color">
      <br />
      <button ng-click="saveProfile(myProfile)" class="l-btn l-btn-success">Save</button>
      <button ng-click="deleteProfile()" class="l-btn l-btn-danger">Delete</button>
    </div>
  </div>

  <div class="l-container">
    <h2>Friends</h2>

    <button class="l-btn l-btn-main">Go</button>
    <input type="text" ng-model="findFriend.name" placeholder="Find Friends">
    <select ng-model="sortReverse" ng-options="option.value as option.display for option in sortOptions">

    </select>
    <div class="friendList" ng-repeat="friend in myProfile.friends | filter: findFriend | orderBy: 'name' : sortReverse">
      <span class="closeBtn"></span>
      {{ friend.name }}
      <br>
    </div>
    <div class="secondConnection friendList">
      My Second Connections
    </div>
  </div>

	<div id="myModalMask">
		<div id="myModal">
			<div>
				<div class="modalTitle">
				<span class="closeBtn"></span>
					Add Friends
				</div>
					<br />
				<div class="friendList">
					<span class="friend"></span> Potential Friends
				</div>
			</div>
		</div>
	</div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/homeCtrl.js"></script>
  <script src="js/profileService.js"></script>
</body>

</html>
